*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #ecf9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.display {
    color: white;
}
.provider-logo {
    position: absolute;
    top: 60%;
    left: 580px; /* Adjust the position as needed */
    transform: translateY(-70%);
    width: 50px; /* Adjust the size of the logo */
    height: 50px; /* Adjust the size of the logo */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
  }
.phone {
    width: 500px;
    height: 60px;
    border-radius: 20px;
}
.provider-logo.mtn {
    background-image: url('img/mtn.png');
  }
  
  .provider-logo.glo {
    background-image: url('img/glo.png');
  }
  
  .provider-logo.airtel {
    background-image: url('img/airtel.png');
  }
  
  .provider-logo.nineMobile {
    background-image: url('img/9mobile.png');
  }
  .group {
    width: 100%;
    color: red;
    background: #ecf9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }